.container {
    width: 1170px;
    margin: 0 auto;
}

section {
    display: flex;
}

div {
    font-family: "MV Boli";
}

.container_content {
  width: 1000px;
  margin: 10px 0 0 10px;
  background: dodgerblue;
}